<html>
    <head>
        <title>{% block title %}Migz' Website{% endblock %}</title> <!--Migz' website will be a default value, and any HTML file that inherits from this base.html will replace the default value if there is a "title" block to be inserted in the HTML file-->
    </head>
    <body>
        <div id="content", name="content">
        {% block content %} <!--The blocks can allow different templates to display different content within the block depending on the webpage-->
        {% endblock %}  <!--If the base.html file is rendered, nothing shows up because the "content" block is a placeholder -->
        </div>
        </body>
    </body>
</html>