{% extends "DFBApp/base.html" %}

{% block title %}List View{% endblock %}

{% block content %}
    <h1>{{ls.name}}</h1>
    <ul>
    {% for item in ls.item_set.all %} <!--Don't need brackets for the .all() - This FOR loop allows us to DISPLAY HTML elements-->
        {% if item.complete == False %}
            <li>{{item.text}} - COMPLETE</li>
        {% else %}
            <li>{{item.text}} - INCOMPLETE</li>
        {% endif %} <!--No need for an endElse-->
    {% endfor %}
    </ul>
{% endblock %}